<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="CLEntities" connectionString="metadata=res://*/ChaiLv.csdl|res://*/ChaiLv.ssdl|res://*/ChaiLv.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;port=3308;database=chailv&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
   <add key="CryptoContainerName" value="CL" />
  </appSettings>
</configuration>